= content_for :on_ready do
  - if @portfolios
    !="DashboardPortfolios.add(#{@portfolios.to_json});"
  $('#portfolios-hotlist li.selectable').first().trigger('click');


= content_for :templates do
  = template_include_tag "dashboard/dashboard_portfolio"


#portfolio-glance
  - if @portfolios.empty?
    = render 'empty_portfolio'

- Settings.securities.each do |sec|
  - ['buy','sell', 'add'].each do |action|
    = render :partial => "securities/#{sec}/#{action}_#{sec}"
