= content_for :on_ready do
  - @models.each do |k,v|
    != "#{k.classify.pluralize}.add(#{v.to_json});"
  - @friend_models.each do |k,v|
    - v.each do |h|
      != "FriendPortfolios.add(#{ h.to_json});"
  != "IndexComparisons.add(#{@compare_indices.to_json});"
  != "ValueComparisons.add(#{@compare_values.to_json});"
  $('#show-your-portfolios-nav tr.selectable').first().trigger('click');
  $('#show-content tr.holding-header').first().trigger('click');
  $('.accordion').accordion();

= content_for :templates do
  = template_include_path_helper(['dashboard', 'hotlist'])

#show-content
  #show-your-portfolios-content.show-module
  #show-friends-portfolios-content.show-module
#compare-content
  #compare-your-portfolios-content.compare-module
    #compare-indices-content.compare-module
    #compare-values-content.compare-module
    #compare-others-content.compare-module
  #compare-friends-portfolios-content.compare-module
#share-content
  #share-with-content
    #your-friends
      #find-friend-content.share-module.security-module
        %p Find A Friend's Profile on CommonBeans
        %input{:class=>"promptable autocomplete optional ui-autocomplete-input", 'data-autocomplete'=>"/users/autocomplete_user_screename", 'data-id-element'=>"#send_friend_request_id", :id=>"user_search", :size=>"30", :type=>"text", :autocomplete=>"off", :role=>"textbox", 'aria-autocomplete'=>"list", 'aria-haspopup'=>"true", 'data-prompt' => 'Screen Name'}
        %input{:type => 'hidden', :id => 'send_friend_request_id'}
        %button#send_friend_request Send a Friend Request
      #invites-from-content.share-module.security-module
        Friend Requests From
        %table
          %tbody
          - for i in @invites_from
            %tr
              %td= i.screen_name
      #invites-to-content.share-module.security-module
        Friend Requests To
        %table
          %tbody
          - for i in @invites_to
            %tr
              %td= i.screen_name
      #friends-content.share-module.security-module
        Friends
        %table
          %tbody
          - for i in @friends
            %tr
              %td= i.screen_name


#forms
  = render :partial => "portfolios/add_portfolio"
  = securities_form_loader_helper
