= content_for :on_ready do
  - @models.each do |k,v|
    != "#{k.classify.pluralize}.add(#{v.to_json});"
  $('#nav li.selectable').first().trigger('click');
  $('.accordion').accordion();

= content_for :templates do
  = template_include_path_helper('dashboard')

#portfolio-glance

#forms
  = render :partial => "portfolios/add_portfolio"
  = securities_form_loader_helper
