= content_for :on_ready do
  - if @dji_index
    !="window.DJI = new IndexModel(#{@dji_index.to_json});"
  - if @portfolios
    !="DashboardPortfolios.add(#{@portfolios.to_json});"
  - if @holdings
    !="DashboardHoldings.add(#{@holdings.to_json});"

  !="Messages.reset(#{@messages});"


= content_for :templates do
  = template_include_tag "dashboard/holding_today"
  = template_include_tag "dashboard/holding_today_update"
  = template_include_tag "dashboard/message"
  = template_include_tag "dashboard/portfolio"

.container_16
  #portfolio-glance
    - if @portfolios.empty?
      = render 'empty_portfolio'


.container_16
  #messages
    %ul
      %li
        %a{:href=>"#tab-friends"}="Friends"
      %li
        %a{:href=>"#tab-you-follow"}="You Follow"
      %li
        %a{:href=>"#tab-follows-you"}="Follow You"
      %li
        %a{:href=>"#tab-groups"}="Groups"
      %li
        %a{:href=>"#tab-everyone"}="Everyone(#{@messages_everyone_count})"
      %li
        %a{:href=>"#tab-news"}="News"
      %li
        %a{:href=>"#tab-system"}="System"
    #tab-friends
      - @friends.each do |f|
        = link_to image_tag(f.image_url, :size => '25x25', :alt => f.screen_name), public_profile_path(f.screen_name)
      %br
      = text_area :friend, :message, :placeholder => 'Message all Friends', :cols => 100, :rows => 3
      %table
      = text_area :friend, :message, :placeholder => 'Message everyone following you', :cols => 100, :rows => 3
      %table


    #tab-groups
      %table

    #tab-news
      %table


    #tab-system
      %table

    #tab-everyone
      = text_area :friend, :message, :placeholder => 'Message Everyone', :cols => 100, :rows => 3
      %table


