= content_for :on_ready do
  - if @dji_index
    !="window.DJI = new IndexModel(#{@dji_index.to_json});"
  - if @portfolios
    !="DashboardPortfolios.add(#{@portfolios.to_json});"
  - if @holdings
    !="DashboardHoldings.add(#{@holdings.to_json});"




= content_for :templates do
  = template_include_tag "dashboard/holding_today"
  = template_include_tag "dashboard/holding_today_update"
  = template_include_tag "dashboard/message"
  = template_include_tag "dashboard/portfolio"

.container_16
  #portfolio-glance
    - if @portfolios.empty?
      = render 'empty_portfolio'


.container_16
