#profile
  = image_tag @user.image_url
  %table
    - if current_user.trust?(@user)
      %tr
        %td Currently Trusting:
        %td= current_user.get_clearance(@user)
    - else
      %tr
        %td Trust as:
        %td{:class=> 'trust_user', :data_user_id => @user.id, :data_level => '2'}= "Colleague"
      %tr
        %td
        %td{:class=> 'trust_user', :data_user_id => @user.id, :data_level => '3'}= "Friend"
      %tr
        %td
        %td{:class=> 'trust_user', :data_user_id => @user.id, :data_level => '4'}= "Family"
    %tr
      %td Name
      %td=@user.name
    %tr
      %td Screen Name
      %td=@user.screen_name
    %tr
      %td Location
      %td=@user.location
    %tr
      %td Description
      %td=@user.description

