#add-portfolio-form{:style => 'display:none;'}
  = simple_form_for(Portfolio.new, :url => '#') do |f|
    = f.input :name
    = f.input :portfolio_plan, :as => :select, :collection => PortfolioPlan.all
    = f.input :portfolio_strategy, :as => :select, :collection => PortfolioStrategy.all
    = link_to 'Create', '#', :class => 'create_link'
