

#edit-bond-form
  = simple_form_for(@holding, :url => '#', :html =>{:class => 'edit-holding'}) do |f|
    %h3 Edit Bond Holding
    = f.input :name
    = f.input :cusip, :label => 'CUSIP number'
    = f.input :purchased_at
    = f.input :matures_at
    = f.input :coupon
    = f.input :purchase_price
    = f.input :starting_quantity
    = f.input :frequency
    = f.input :face_value
    = f.input :expected_yield
    = link_to 'Create', '#', :class => 'create_link'
