

#edit-stock-form
  = simple_form_for(@holding, :url => '#', :html =>{:class => 'edit-holding', 'data-holding-id' => @holding.id, 'data-type-name' => 'stock'}) do |f|
    %h3 Edit Stock Holding
    #autocomplete
      = "Select Name or Symbol"
      = f.input :ticker_name, :input_html => {:simple_tag_name => true,:value => @holding.ticker.name, :disabled => true}
      = f.input :ticker_symbol, :input_html => {:simple_tag_name => true,:value => @holding.ticker.symbol, :disabled => true}
    = f.input :stock_ticker_id, :as => :hidden, :input_html => {:simple_tag_name => true}
    = f.input :starting_shares, :input_html => {:simple_tag_name => true}
    = f.input :starting_price, :input_html => {:simple_tag_name => true}
    = f.input :purchased_at, :as => :string, :input_html => {:simple_tag_name => true, :class => 'date_picker'}
    = f.submit
