

#add-cd-form{:style => 'display:none;'}
  = simple_form_for(CdHolding.new, :url => '#') do |f|
    %h3 Add CD
    = f.input :name
    = f.input :cusip, :label => 'CUSIP number'
    = f.input :purchased_at, :as => :string, :input_html => {:simple_tag_name => true, :class => 'date_picker'}
    = f.input :matures_at, :as => :string, :input_html => {:simple_tag_name => true, :class => 'date_picker'}
    = f.input :coupon
    = f.input :purchase_price
    = f.input :starting_quantity
    = f.input :frequency
    = f.input :face_value
    = f.input :expected_yield
    = link_to 'Create', '#', :class => 'create_link '
