

#add-multi-form{:style => 'display:none;'}
  = simple_form_for(MultiHolding.new, :url => '#') do |f|
    %h3 Add Multi
    = f.input :name
    = link_to 'Create', '#', :class => 'create_link'

#add-multi-statement-form{:style => 'display:none;'}
  = simple_form_for(MultiStatement.new, :url => '#') do |f|
    %h3 Add Multi Statement
    #autocomplete
      = "Select Name or Symbol"

      = f.input :started_on
      = f.input :starting_balance
      = f.input :ended_on
      = f.input :ending_balance
      = f.input :contributions
      = f.simple_fields_for :multi_statement_allocations do |msa|
        = msa.input :ticker_name, :url => autocomplete_fund_ticker_name_multi_tickers_path, :as => :autocomplete, :input_html => {"data-id-element" => "#facebox #multi_statement_fund_ticker_id"}
        = msa.input :ticker_symbol, :url => autocomplete_fund_ticker_symbol_fund_tickers_path, :as => :autocomplete, :input_html => {"data-id-element" => "#facebox #multi_statement_fund_ticker_id"}
        = msa.input :fund_ticker_id, :as => :hidden
    = link_to 'Create', '#', :class => 'create_link'