#add-holding-form{:style => 'display:none;'}
  = simple_form_for(Holding.new, :url => 'holdings') do |f|
    = f.input :ticker, :as => :select, :collection => Ticker.all
    = f.input :starting_shares
    = f.input :starting_price
    = f.input :date_of_purchase
    = link_to 'Create', '#', :class => 'create_link'
