#sell-shares{:style => 'display:none;'}
  = simple_form_for(StockEvent.new, :url => '#') do |f|
    = f.input :shares 
    = f.input :price
    = f.input :executed_at
    = link_to 'Record', '#', :class => 'record_link'
