= content_for :on_ready do
  !="window.Portfolios.reset(#{@portfolios.to_json});"
  !="Holdings.reset(#{@holdings.to_json});"
  !="StockEvents.reset(#{@events.to_json});"

#portfolio-buttons
  %button{:id => 'add-portfolio'}Add portfolio

#portfolio-content

= render :partial => "buy_holding"
= render :partial => "sell_holding"
= render :partial => "add_portfolio"
= render :partial => "add_holding"




