= content_for :on_ready do
  !="window.TrackerPortfolios.reset(#{@portfolios.to_json});"
  !="TrackerHoldings.reset(#{@holdings.to_json});"
  !="TrackerStockEvents.reset(#{@events.to_json});"

= content_for :templates do
  = template_include_tag 'trackers/holding'
  = template_include_tag 'trackers/holding_today'
  = template_include_tag 'trackers/holding_today_update'
  = template_include_tag 'trackers/stock_event'
  = template_include_tag 'trackers/portfolio'

#portfolio-buttons
  %button{:id => 'add-portfolio'}Add portfolio

#portfolio-content

= render :partial => "buy_holding"
= render :partial => "sell_holding"
= render :partial => "add_portfolio"
= render :partial => "add_holding"




