

#add-etf-form{:style => 'display:none;'}
  = simple_form_for(EtfHolding.new, :url => '#') do |f|
    %h3 Add ETFs
    #autocomplete
      = "Select Name or Symbol"
    = f.input :etf_ticker_id, :as => :hidden
    = f.input :starting_units
    = f.input :starting_price
    = f.input :purchased_at
    = link_to 'Create', '#', :class => 'create_link'
