<tr id="holding-id-<%= id %>" class="holding-tr" data_holding_id="<%= id %>" data_holding_name="<%= ticker_name %>">
  <td class="holding_name" colspan="5"><%= ticker_symbol %> - <%= ticker_name %></td>
  <td class="holding_buy_sell" colspan="3">
    <button class="buy_button" data_holding_id="<%= id %>" data_ticker_id="<%= ticker_id %>" rel="facebox">Bought Shares</button>
    <button class="sell_button" data_holding_id="<%= id %>" data_ticker_id="<%= ticker_id %>" rel="facebox">Sold Shares</button>
  </td>
</tr>
<tr>
  <td>Day 1</td>
  <td>B</td>
  <td><%= starting_shares %></td>
  <td><%= starting_price %></td>
  <td><%= starting_investment %></td>
  <td>0</td>
  <td><%= (new Date(date_of_purchase)).format("m/dd/yy") %></td>
  <td></td>
</tr>
