<td>Day 1</td>
<td><%= action_letter %></td>
<td><%= shares %></td>
<td><%= price %></td>
<td><%= investment %></td>
<td><%= return_on_investment %></td>
<td><%= (new Date(date_of_event)).format("m/dd/yy") %></td>
<td></td>
