

#add-stock-form{:style => 'display:none;'}
  = simple_form_for(StockHolding.new, :url => '#') do |f|
    %h3 Add Stocks
    #autocomplete
      = "Select Name or Symbol"
      = f.input :ticker_name, :url => autocomplete_stock_ticker_name_stock_tickers_path, :as => :autocomplete, :input_html => {"data-id-element" => "#facebox #stock_holding_stock_ticker_id"}
      = f.input :ticker_symbol, :url => autocomplete_stock_ticker_symbol_stock_tickers_path, :as => :autocomplete, :input_html => {"data-id-element" => "#facebox #stock_holding_stock_ticker_id"}
    = f.input :stock_ticker_id, :as => :hidden
    = f.input :starting_shares
    = f.input :starting_price
    = f.input :purchased_at, :as => :string, :input_html => {:simple_tag_name => true, :class => 'date_picker'}
    = link_to 'Create', '#', :class => 'create_link'
