<tr id="holding-<%= id %>-today">
  <td></td>
  <td><%= SeparateThousands(net_shares) %></td>
  <td><%= FormatCurrency(net_investment) %></td>
  <td><%= FormatCurrency(net_return) %></td>
  <td><%= FormatCurrency(todays_price) %></td>
  <td><%= FormatCurrency(todays_value) %></td>
  <td><%= FormatCurrency(net_return) %></td>
  <td><%= day_delta %>/<%= week_delta %>/<%= month_delta %>/<%= year_delta %></td>
</tr>
