<tr id="holding-<%= id %>-today">
  <td><%= relative_day %></td>
  <td>B</td>
  <td><%= net_shares %></td>
  <td>?</td>
  <td><%= net_investment %></td>
  <td><%= net_return %></td>
  <td>Today</td>
  <td></td>
</tr>
