<tr id="holding-id-<%= id %>" class="holding-tr" data_holding_id="<%= id %>" data_holding_name="<%= ticker_name %>">
  <td class="holding_name" colspan="5"><%= ticker_symbol %> - <%= ticker_name %></td>
  <td class="holding_buy_sell" colspan="3">
  </td>
</tr>


