<td>
  <ul>
    <li><img src='<%= user_image_url %>'/></li>
    <li><%= user_screen_name %></li>
    <li><a href='/profiles/public/<%= user_screen_name %>'>View Profile</a></li>
  </ul>
</td>
<td><%= action %></td>
<td><%= text %></td>
