#message_bar

  %ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
    %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active
      %a{:href=>"#tab-friends"}="Friends(#{@friend_messages.size})"
    %li.ui-state-default.ui-corner-top
      %a{:href=>"#tab-groups"}="Groups(#{@group_messages.size})"
    %li.ui-state-default.ui-corner-top
      %a{:href=>"#tab-everyone"}="Everyone(#{@everyone_messages.size})"
    %li
      = link_to "Close Message Bar", "#", :id => 'message_close_btn'

  #tab-friends
    .messages
      %table

  #tab-groups
    .messages
      %table
  #tab-everyone
    .messages
      %table



#menu
  = link_to 'Dashboard | ', '#'
  = link_to 'Trust | ', '#'
  = link_to 'Groups | ', '#'
  = link_to 'Profile', '#'