#logo.sixcol
  %img#main-logo{:src=>"/images/common-beans-logo.gif", :alt=>"DesignPlus", :class=>"pngfix logo"}

#login.sixcol.last
  .login
    - if current_user
      = "Hi #{current_user.screen_name} ->"
      = link_to "Sign Out", signout_path
    - else
      = render "layouts/login"
    .release
      = "#{Settings.version.state} v#{Settings.version.number}"


