.subbg
  .subheader
    <!--start:header -->
    .container_16
      <!--start:header container -->
      <!--start:logo -->
      .grid_5
        %img#main-logo{:src=>"/images/common-beans-logo.gif", :alt=>"DesignPlus", :class=>"pngfix logo"}
        <!--end:logo -->
      .grid_11
        
        <!--start:menu grid -->
        .nav
          = render 'layouts/nav'

        <!--start:menu top-menu -->
        .login
          - if current_user
            = "Hi #{current_user.screen_name}"
            = link_to "Sign Out", signout_path
          - else
            = render "layouts/login"
      .clear
      .grid_16
        .subtitle

