
#nav
  %ul
    %li
      %a{:href => '#show-nav'} Show
    %li
      %a{:href => '#compare-nav'} Compare
    %li
      %a{:href => '#share-nav'} Share

  #show-nav
    %a.add_portfolio_group_action
      %img{:src=>'/images/portfolio.gif'}
    #show-your-portfolios-nav
      You
      %table
        %tbody
    #show-friends-portfolios-nav
      Friends
      %table
        %tbody
        - for f in @friends
          %tr.selectable{"data-friend-id" => f.id}
            %td= f.screen_name
            %td= "-%5 (5day)"
    #show-group-portfolios-nav
      Groups (coming soon)
      %table
        %tbody


  #compare-nav
    #compare-your-portfolios-nav
      Your Portfolios To...
      %table
        %tbody
          %tr.selectable{'data-module' => '#compare-indices-content'}
            %td Market Indices
          %tr.selectable{'data-module' => '#compare-values-content'}
            %td Gains over Time
          %tr.selectable{'data-module' => '#compare-friends'}
            %td Friends
          %tr.selectable{'data-module' => '#compare-others'}
            %td Others on CB


    #compare-friend-portfolios-nav
      Your Groups (coming soon)
      %table
        %tbody


  #share-nav
    #share-with-nav
      %h4 Share with..
      Your Financial Adviser
      %table
        %tbody
          %tr.selectable
            %td Invite your Adviser
          %tr.selectable
            %td Find an Adviser


      Your Friends
      %table
        %tbody
          %tr.selectable#find-friend-nav
            %td Find your friend on CB
          %tr.selectable
            %td Invite a friend to join CB
          %tr.selectable
            %td= "Accept a friend invite (#{@invites_from.count})"
          %tr.selectable
            %td= "Invites awaiting response (#{@invites_to.count})"
          %tr.selectable
            %td= "List of Friends (#{@friends.count})"


      Groups (coming soon)
    %br
    %br
    #compete-with-nav
      %h4 Compete with..
      Friends  (coming soon)
      %br
      Groups  (coming soon)


#advertising.security-module
  Advertising
