
#nav
  %ul
    %li
      %a{:href => '#show'} Show
    %li
      %a{:href => '#compare'} Compare
    %li
      %a{:href => '#share'} Share

  #show
    %a.add_portfolio_group_action
      %img{:src=>'/images/portfolio.gif'}
    .your_portfolios
      You
      %table
        %tbody
    .friends_portfolios
      Friends
      %table
        %tbody
        - for f in @friends
          %tr
            %td= f.screen_name
            %td= "-%5 (5day)"
    .friends_portfolios
      Groups (coming soon)
      %table
        %tbody


  #compare
    .your_portfolios
      Your Portfolios To...
      %table
        %tbody
          %tr.selectable{'data-module' => '#compare-indices'}
            %td Market Indices
          %tr.selectable{'data-module' => '#compare-values'}
            %td Gains over Time
          %tr.selectable{'data-module' => '#compare-friends'}
            %td Friends
          %tr.selectable{'data-module' => '#compare-others'}
            %td Others on CB


    .group_portfolios
      Your Groups (coming soon)
      %table
        %tbody


  #share

    .share_with
      %h4 Share with..
      Your Financial Adviser
      %table
        %tbody
          %tr.selectable
            %td Invite your Adviser
          %tr.selectable
            %td Find an Adviser


      Your Friends
      %table
        %tbody
          %tr.selectable
            %td Find your friend on CB
          %tr.selectable
            %td Invite a friend to join CB
          %tr.selectable
            %td= "Accept a friend invite (#{@invites_from.count})"
          %tr.selectable
            %td= "Invites awaiting response (#{@invites_to.count})"
          %tr.selectable
            %td= "List of Friends (#{@friends.count})"


      Groups (coming soon)
    %br
    %br
    .compete_with
      %h4 Compete with..
      Friends  (coming soon)
      %br
      Groups  (coming soon)


#advertising.security-module
  Advertising
