
#nav
  %ul
    %li
      %a{:href => '#show-nav'} Show
    %li
      %a{:href => '#compare-nav'} Compare
    %li
      %a{:href => '#share-nav'} Share

  #show-nav
    %a.add_portfolio_group_action
      %img{:src=>'/images/portfolio.gif'}
    #show-your-portfolios-nav
      You
      %table
        %tbody
    #show-friends-portfolios-nav
      Friends
      %table
        %tbody
        - for f in @friends
          %tr.selectable{"data-friend-id" => f.id}
            %td= f.screen_name
            %td= "-%5 (5day)"
    #show-everyone-events-nav
      Everyone
      %table
        %tbody
          %tr.selectable
            %td Buy/Sell Events
            %td= @actions.count
    #show-group-portfolios-nav
      Groups (In Beta)
      %table
        %tbody


  #compare-nav
    #compare-your-portfolios-nav
      Your Portfolios To...
      %table
        %tbody
          %tr.selectable{'data-module' => '#compare-indices-content'}
            %td Market Indices
          %tr.selectable{'data-module' => '#compare-values-content'}
            %td Gains over Time
          %tr.selectable{'data-module' => '#compare-friends'}
            %td Friends
          %tr.selectable{'data-module' => '#compare-others'}
            %td Others on CB


    #compare-friend-portfolios-nav
      Your Groups (In Beta)
      %table
        %tbody


  #share-nav
    #share-with-nav
      %h4 Share with..
      %table
        %tbody

          %tr.selectable#find-friend-nav
            %td Your Friends
            %td= "#{@friends.count}/#{@invites_from.count}/#{@invites_to.count}"
          %tr
            %td Your Adviser
            %td In Alpha

          %tr
            %td Groups
            %td In Beta
    #compete-with-nav
      %h4 Compete with..
      %table
        %tbody
          %tr
            %td Friends
            %td In Beta
          %tr
            %td Groups
            %td In Beta

#linknav.small_font.overview
  #links
    = link_to 'Stories |', stories_path 
    = link_to 'Roadmap |', '/api'
    = link_to 'API |', '/api'
    = link_to 'Security |', '/api'
    = link_to 'Investors', '/api'
#advertising.security-module
  Advertising
