!!!
%html
%head
  %titleCommonBeans
  = stylesheet_link_tag    "application"
  = javascript_include_tag "dashboard"
  = csrf_meta_tags
  = yield :templates
  = template_include_tag "message/message"
  = template_include_tag "hotlist/hotlist_portfolio"
  %script{:type => 'text/javascript', :charset => 'utf-8'}
    $(document).ready(function() {
    = yield :on_ready
    -if @everyone_messages.present?
      EveryoneMessages.reset(JSON.parse(#{raw(@everyone_messages.as_json)}));
    -if @friend_messages.present?
      FriendMessages.reset(JSON.parse(#{raw(@friend_messages.as_json)}));
    -if @group_messages.present?
      GroupMessages.reset(JSON.parse(<#{raw(@group_messages.as_json)}));
    });
%body
  =render "layouts/header"
  .container
    .row
      #hotlist
        =render 'layouts/hotlist'
    .row
      #warmlist.threecol
        =render 'layouts/warmlist'
      #content.ninecol.last
        = yield
  =render "layouts/footer"
