<!DOCTYPE html>
<html>
<head>
  <title>CommonBeans</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "dashboard" %>
  <%= csrf_meta_tags %>
  <%= yield :templates %>
  <script type ='text/javascript' charset = 'utf-8'>
    $(document).ready(function() {
      <%= yield :on_ready %>
      <% if @everyone_messages.present? %>
        EveryoneMessages.reset(JSON.parse(<%=raw(@everyone_messages.as_json)%>));
      <% end %>
      <% if @friend_messages.present? %>
        FriendMessages.reset(JSON.parse(<%=raw(@friend_messages.as_json)%>));
      <% end %>
      <% if @group_messages.present? %>
        GroupMessages.reset(JSON.parse(<%=raw(@group_messages.as_json)%>));
      <% end %>
    })
  </script>
</head>
<body>
  <%=render "layouts/header" %>
  <div id='Content'>
    <%= yield %>
  </div>
  <%=render "layouts/footer" %>
</body>
</html>
